#!/usr/bin/make -f

ARCH ?= $(DEB_HOST_ARCH)

ifeq ($(ARCH),amd64)
  PRESET = amd64-RelWithDebInfo
else ifeq ($(ARCH),arm64)
  PRESET = arm64-RelWithDebInfo
else
  $(error Unsupported architecture: $(ARCH))
endif

BUILDDIR = build/$(PRESET)

%:
	dh $@ --buildsystem=cmake+ninja --builddirectory=$(BUILDDIR)

override_dh_auto_configure:
	dh_auto_configure --builddirectory=$(BUILDDIR) -- \
	  --preset=$(PRESET) \
	  -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_test:
	dh_auto_test

# Prevent systemctl execution during install
override_dh_installsystemd:
	dh_installsystemd --no-start


