BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 1
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
IndentWidth: 4
AlwaysBreakTemplateDeclarations: Yes
