Source: sockact-example
Section: utils
Priority: optional
Maintainer: tom <t.willetal@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake,
               ninja-build,
               pkg-config,
               pkgconf,
               libspdlog-dev,
               libsystemd-dev,
               libcxxopts-dev
Build-Depends-Arch: g++-aarch64-linux-gnu
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: sockact-example
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Socket activation example with spdlog + systemd
 A small example application demonstrating socket activation using systemd
 and logging with spdlog.
